

.control-arrows img{
    width: 47px;
}
/*base*/
#base{
    padding: 0% 6%;
    padding-top: 0%;
    margin-bottom: 6.3vw;
    padding-top: 4.8vw;
}
#base .top{

    display: flex;
    justify-content: space-between;
}
#base .top .title{
    font-size: 2vw;
    line-height: 2.3vw;
}
#base .top .title span{
    color: #e74625;
    font-weight: 600;
    font-family: "TTNorms SemiBold";
}
#base .top .title .price span{
    color: #1c1c1c;
    font-family: "TTNorms Regular";
    font-size: 2vw;
}


#base .top .rbuttons{
    display: flex;
    position: relative;

}
#base .top .rbuttons p{
    position: absolute;
    right: 2.483vw;
    top: 4.5vw;
    color: #b2b2b2;
    font-size: .873vw;
}

#base .apply{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*margin: 0 auto;*/
    margin-bottom: 0px;
    width: 13.9vw;
    height: 4.16vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    font-size: 0.93800vw;
    letter-spacing: 0.02500em;
    font-family: 'TTNorms Regular';
    background: #e74625;
    margin-bottom: 0.6vw;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);

}
#base .apply:hover{
    opacity: .8;
    transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);

}
#base .top .rbuttons .connect{
    border-color: #1c1c1c;
    width: 13.9vw;
    height: 4.16vw;
    font-size: 0.93800vw;
    margin-left: 3.1vw;
    text-transform: uppercase;
}
#base .transparent:hover{
    transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);

}
#base .main-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
#base .main-inner h3{
    font-size: 1.875vw;
    font-family: "TTNorms SemiBold";
    font-weight: 100;
    padding-bottom: 2.86vw;
}
#base .main-inner h4{
    font-size: 1.25vw;
    font-family: "TTNorms SemiBold";
    font-weight: 100;
}
#base .main-inner .right h5{
    position: relative;
    margin: 15px 0;
    
}
#base .main-inner h5:after{
    content: '';
    border-bottom: 1px solid #fbe1dc;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
}

#base .main-inner .left{
    width: 100%;
    background-color: #fef6f4;
    margin-left: -7%;
    padding: 2.6vw 40px 2.6vw 7%;
    height: 100%;
}
#base .main-inner .right{
    width: 100%;
    margin-left: 20px;
    margin-right: -7%;
    padding: 2.6vw 7% 2.6vw 40px;
}

#base .main-inner table{
    width: 100%;
    font-size: .93vw;
    color: #1c1c1c;
}
#base .main-inner table tr td:nth-child(1){
    width: 80%;
    padding: 1.1vw 0;

}
#base .main-inner table tr td:nth-child(2){
    text-align: right;

}
#base .main-inner .right .other-condit .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#base .main-inner .right .other-condit .top h3{
    padding-bottom: 0;
}
#base .main-inner .right .other-condit table{
    display: none;
    transition: .5s;
}
#other-condition{
    cursor: pointer;
    padding-bottom: 2vw;
}

#other-condition img{
    transition: .5s;
}

.flip {
    transform: rotate(-180deg);
    transition: .5s;
}
/*complementary-services*/
.comp-serv .main-inner .left{
    background: transparent!important;
    font-size: 1.24vw;
}
.comp-serv .serv-buttons{
    display: flex;
    justify-content: center;
}
.comp-serv .top .title{
    padding-bottom: 4.2vw;
}
.comp-serv .serv-buttons .blue{
    background: #0072ce!important;
    width: 24vw!important;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.08)!important;
    margin: 0 20px!important;
}
.comp-serv .serv-buttons .transparent{
    width: 24vw!important;
    background: transparent!important;;
    color: #1c1c1c!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08)!important;
    margin: 0 20px!important;
}
.comp-serv .main-inner .right h6{
    font-size: .88vw;
    color: #cbcbcb;
    padding: 20px 0;
}
.comp-serv .main-inner .right table a{
    color: #0072ce;
}
/*long-distance*/
.long-dist .main-inner .left{
    background: transparent!important;
}
.long-dist .main-inner .left span{
    font-weight: 100;
    font-family: "TTNorms SemiBold";
}
.long-dist .main-inner .right h4{
    padding: 20px 0;
}
.long-dist .main-inner .right a{
    color: #0072ce;
}
.nod a{
    color: #0072ce;
}
.nod .dropdwn{
    padding: 15px 0;
}
.dropdwn p{
    display: none;
}
.dropdwn .toggle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
}
.nod .main-inner{
    padding-top: 0!important;
}
#base .instruction-row{
    display: flex;
    font-size: 1.24vw;
}
#base .instruction-row img{
    width: 3.125vw;
    margin-right: 1.525vw;
    margin-bottom: 1.525vw;
    height: 100%;

}
#base .instruction-row .size{
    padding-top: 10px;
}

#base .serv-buttons a{
    width: 24vw;
}

.roaming span{
    color: #e74625;

}
.roaming .main-inner .left .about-roam{
    background-color: #fef6f4!important;
    padding: 2.6vw 40px 2.6vw 15%;
    margin-left: -15%;
    margin-bottom: 3.6vw;
}
.roaming .main-inner .left .roam-setings h3{

}
.roaming .main-inner .left .roam-setings span{
    font-size: 5.208vw;
    float: left;
    width: 5vw;
    display: flex;
    justify-content: center;
    font-weight: 900;
}
.roaming .main-inner .left .roam-setings .row{
    display: flex;
    align-items: center;
    padding-right: 40px;

}
.roaming .main-inner .left .roam-setings .row p{
    padding-left: 20px;
}
.roaming .right .select2{
    width: 100%!important;
    margin-bottom: 20px;
}
.roaming .right a{
    color: #0072ce;
}
.roaming .right h3{
    padding-top: 2.86vw ;
}
.roaming .right .dropdwn .toggle{
    padding: 1.2vw 0;

}
.roaming .right .dropdwn p{
    max-width: 35vw;
    line-height: 30px;
}
.roaming .right table{
    width: 100%;
}
.license .main-inner .instruction-row{
    padding: 1.2vw 0;
}

.roaming .right .dropdwn .toggle h3{
    padding: 0;
}
.roaming .right .dropdwn .toggle{
    padding-top: 2.5vw;
}
.support > .main-inner{
    padding-top: 0!important;
}
.support .about-support img {
    width: 2.2vw;
    vertical-align: middle;
    margin: 1.5vw;
    margin-left: 0;
    margin-right: 1.5vw;

}
.support .about-support{
    background-color: #f2f8fd;
    margin-left: -15%;
    padding: 2.6vw 40px 2.6vw 15%

}
.tarif-ttk .apply{
    background-color: #0072ce!important;
}
.tarif-ttk span{
color: #0072ce!important;
}
.ffmed{
    font-family: "TTNorms Medium";
    font-weight: 100;
}
.tarif-ttk .main-inner .row a{
    color: #0072ce;
}
.tarif-ttk .main-inner{
    display: block!important;
}
.tarif-ttk .main-inner .row{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5.2vw 0;
}
.tarif-ttk .main-inner .row{
    margin-right: -20px;
}
.tarif-ttk .main-inner .row .row_item> img{
    width: 5.2vw;
    padding-bottom: 3.1vw;

}
.tarif-ttk  .top .rbuttons p{
    right: 1.483vw!important;
}
.phone-num > .top{
    flex-direction: column!important;
}
.phone-num .top p{
    font-size: 1.25vw;
    line-height: normal;
    padding: 3.3vw 0;
    max-width: 540px;
}
.phone-num .top .rbuttons {
    justify-content: center;
}
.phone-num .top .rbuttons a{
    width: 18.2vw!important;
}
.phone-num .main-inner{
    flex-direction: column;
}

.phone-num .main-inner .phone-row{
    display: flex;
    justify-content: center;
}
.phone-num .main-inner .phone-row .add-num object{
    vertical-align: middle;
    margin-left: 1vw;
    width: 2vw;
}
.phone-num .main-inner .phone-row .add-num{
    width:19.2vw;
    color: #666;
    border: 2px solid #666666;
    font-weight: 900;
    height: 5.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 2vw;
}
.phone-num .main-inner .phone-row :first-child{
    margin-left: 0;
}
.phone-num .main-inner .phone-row :last-child{
    margin-right: 0;
}
.phone-num .more{
    padding-top: 2vw;
    display: flex;
    justify-content: center;
color: #0072ce;
    font-family: "TTNorms SemiBold";
}
/*home mobile*/
@media all and (max-width:875px) {
    .phone-num .more{
        padding-top: 4vw;
    }
    .phone-num .main-inner .phone-row :first-child{
        margin-left: 2vw;
    }
    .phone-num .main-inner .phone-row :last-child{
        margin-right: 2vw;
    }
    .phone-num .main-inner .phone-row{
        flex-wrap: wrap;
    }
    .phone-num .main-inner .phone-row .add-num {
        width: 38vw;
        font-size: 2.2vw;
        height: 11.1vw;
    }
    .phone-num .top .rbuttons{
        flex-wrap: wrap;
    }
    .phone-num .main-inner .phone-row .add-num object{
        width: 4vw;
        margin-left: 4vw;

    }
    .phone-num .top p{
        font-size: 3vw;
    }
    #city-chooser-icon-mobile {
        display: none;
    }

    #main-slider-mobile .control-arrows img {
        width: 12vw;
    }

    #service-actions .border-wrapper {
        display: flex;
        flex-direction: column;
    }

    #services-for-home .slider-controls img {
        width: 12vw;
    }

    #services-for-home .header h2 {
        font-size: 5.34vw;
        margin-bottom: 7.3vw;
    }

    #service-actions .service-action {
        height: 62.8vw;
    }

    #service-actions .service-action:nth-of-type(3) {
        border-bottom: 1px solid #d2d2d2
    }

    #service-actions {
        margin-bottom: 0;
    }

    .special-offers-block {
        padding-top: 0 !important;
        margin-top: -30px;
    }

    #services-for-home .button {

        margin: 0 0 12.5vw 0;
        width: 41.667vw;
    }

    .button-scaler {
        padding-top: 29.6%;
    }

    .special-offers-block .content .left .button, .special-offers-block .content .right .button {
        left: 0;
        transform: none;
    }

    .special-offers-block .content .left {
        height: 77.52vw;
    }

    .special-offers-block .content .right {
        margin-top: 9vw;
        position: relative;
        height: 106vw;
        padding-top: 30vw;
    }

    .special-offers-block .special-offers-slider-controls img {
        width: 13vw;

    }

    .special-offers-block .special-offers-slider-controls.special-offers-slider-controls-mobile {
        top: 10vw;
        left: 7%;
    }

    #news h2 {
        font-size: 5.34vw;
    }

    #news .news-container .news-item .details a {
        color: #1c1c1c;
        font-size: 2.64vw;
        font-family: 'TTNorms Regular';
    }

    #news .news-container .news-item {
        display: none;
    }

    #news .news-container .news-item:nth-child(1) {
        display: block;
    }

    #news .news-container .news-item .details p {
        display: block;
    }

    #news .news-container .news-item .details h4 {
        font-size: 6.1vw;
    }

    #news .news-container .news-item .details p {
        font-size: 3.3vw;

    }

    #base .main-inner {
        flex-direction: column;
    }

    #base .top {
        flex-direction: column;
    }

    #base .top .rbuttons {
        justify-content: center;
    }

    #base .top .title {
        font-size: 6.6vw;
        line-height: normal;
        width: 68%;
    }

    #base .top .title .price span {
        font-size: 4.6vw;
    }

    #base .main-inner h3 {
        font-size: 5.5vw;
    }

    #base .main-inner h4 {
        font-size: 3.3vw
    }

    #base .main-inner table {
        font-size: 2.7vw
    }

    #base .main-inner .left {
        width: 100vw;
        padding: 2.6vw 15px 7% 7%;
    }

    #base .main-inner table tr td:nth-child(1) {
        width: 60%;
    }

    #base .main-inner .right {
        width: 100vw;
        margin-left: -7%;
        padding: 2.6vw 7% 2.6vw;
    }
    #base .main-inner .right .other-condit .top{
        flex-direction: row;
        padding: 8vw 0;
    }
    #base .apply, #base .connect{
        width: 33.4vw!important;
        height: 9.25vw!important;
        font-size: 2.22vw!important;
    }
    #base .top .rbuttons{
        padding-top: 9vw;
    }
    #base .main-inner{
        padding-top: 10vw!important;
    }
    #base .top .rbuttons p{
        font-size: 2.22vw!important;
        right: 14.483vw!important;
        bottom: -10px!important;
        top: unset!important;
    }
    #base .top .title span{
        font-size: 6.6vw;
    }
    #base .top .title .price img{
        display: none;
    }
    .mobdn{
        display: none;}
    .tarif-ttk .main-inner .row{
        flex-direction: column;

    }
    .tarif-ttk .main-inner .row .row_item{
        padding: 8vw 0;
    }
    .tarif-ttk .main-inner .row .row_item > img{
        width: 17vw;
    }
    .comp-serv .main-inner .left,#base .instruction-row{
        font-size: 3.7vw;
    }
    #base .instruction-row img{
        width: 9vw;
    }
    .comp-serv .main-inner .right h6{
        font-size: 2.7vw;
    }
    .dropdwn .toggle img{
        width: 4vw;
        height: 100%;
    }
    #service-actions .service-action .button {
        width:34vw;
        font-size:2.84267vw;
    }
    #services-for-home .button {
        width:35.60000vw;
    }

#base .main-inner h3 {

    padding-top: 3vw;
    padding-bottom: 3.86vw;
}
    .roaming .main-inner .left .about-roam {
        width: 100vw;
        padding: 2.6vw 7% 2.6vw 7%;
        margin-left: -7%;
    }
    .roaming .right .dropdwn .toggle h4{
        width: 80%;
    }
    #base .serv-buttons a{
        text-align: center;
    }
    .long-dist p{
        font-size: 2.7vw;

    }
    .long-dist .main-inner .right a{
        font-size: 2.7vw;

    }
    .roaming .right .dropdwn p{
        font-size: 2.7vw;
        max-width: unset;
    }
}

@media all and (max-width:405px) {
    #service-actions .service-action {
        height: 51.8vw;
    }
    #service-actions .service-action img{
        width: 4.6vw!important;
    }
}
@media screen and (min-width: 850px) and (max-width: 1100px) {
    .special-offers-block {
        padding-top: 170px;
    }

    #service-actions .service-action {
        margin-bottom: 53px;
        position: relative;
        padding-bottom: 20px;
    }

    #service-actions .service-action .button {

        position: absolute;;
        bottom: 0;

    }
}
#menu-1{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072ce;
}
#menu-1 ul{
    padding-top: 2.2vw;
}
#menu-1 li{
    list-style-type: none;
    padding-bottom: 1.8vw;
}

#menu-1 h3{
    text-transform: uppercase;
}
#menu-1 .menu-column{
    height: 15.625vw;
    padding: 0 4vw;
    color: #FFFFFF;

}
#menu-1 .cancel{
    left: 50px;
    top: 30px;
    position: fixed;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1vw;

}
#menu-1 .cancel img{
    width: 1.56vw;
    vertical-align: middle;
    margin-right: 15px;
}
.shadowed{
    border: transparent!important;
    -webkit-box-shadow: 0px 0px 9px 1.2px rgba(51, 51, 51, 0.07);
    box-shadow: 0px 0px 9px 1.2px rgba(51, 51, 51, 0.07);
}
